Repository demirtasdurmus/next-boilerplate, changes with the labels that .github/labeler.yml gives for each.
All labels: root, env, dependency, api, migration

feat: add modal using server actions
  .eslintignore
  next.config.js
  src/app/layout.tsx
  src/app/page.tsx
  src/app/products/page.tsx
  src/components/Dialog.tsx
Labels: root

feat: migrate db for roles column fix
  src/app/api/(modules)/auth/register/route.ts
  src/app/api/_db/migrations/0004_married_pixie.sql
  src/app/api/_db/migrations/meta/0004_snapshot.json
  src/app/api/_db/migrations/meta/_journal.json
  src/app/api/_db/schema.ts
Labels: api

docs: add a comment note about inserting values in jsonb arrays is postgres
  src/app/api/(modules)/auth/register/route.ts
Labels: api

fix: upgrade zod
  package-lock.json
  package.json
Labels: root

fix: upgrade postcss to v.8.4.31
  package-lock.json
  package.json
Labels: root

feat: fix header and integrate it to the boilerplate
  src/app/page.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/Dialog.tsx
Labels: none

feat: apply a basic root layout
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  tailwind.config.ts
Labels: root

feat: reorganize project structure
  src/app/(ui)/favicon.ico
  src/app/(ui)/globals.css
  src/app/(ui)/layout.tsx
  src/app/(ui)/login/page.tsx
  src/app/(ui)/page.tsx
  src/app/(ui)/products/[id]/page.tsx
  src/app/(ui)/products/page.tsx
  src/app/(ui)/profile/page.tsx
  src/app/(ui)/public/page.tsx
  src/app/(ui)/register/page.tsx
Labels: none

feat: add a landing page
  public/avatar-girl-1.png
  public/avatar-girl-2.png
  public/avatar-man-1.png
  public/bg-simplify-section-desktop.svg
  public/bg-simplify-section-mobile.svg
  public/bg-tablet-pattern.svg
  public/icon-facebook.svg
  public/icon-instagram.svg
  public/icon-pinterest.svg
  public/icon-twitter.svg
  public/icon-youtube.svg
  public/illustration-intro.svg
  public/next-white.svg
  src/app/(ui)/globals.css
  src/app/(ui)/layout.tsx
  src/app/(ui)/page.tsx
  tailwind.config.ts
Labels: root

feat: seperate basic navbar for desktop screen
  src/app/(ui)/page.tsx
  src/components/navbar/button.tsx
  src/components/navbar/logo.tsx
  src/components/navbar/menu.tsx
  src/components/navbar/navbar.tsx
Labels: none

feat: complete navbar
  public/bg-tablet-pattern.svg
  src/app/(ui)/globals.css
  src/app/(ui)/page.tsx
  src/components/navbar/button.tsx
  src/components/navbar/company-logo.tsx
  src/components/navbar/desktop-menu.tsx
  src/components/navbar/hamburger-button.tsx
  src/components/navbar/index.tsx
  src/components/navbar/mobile-menu.tsx
  src/components/navbar/nav-button.tsx
Labels: none

fix: fix global css tailwind warning
  .vscode/settings.json
Labels: root

feat: add footer components
  .vscode/settings.json
  src/app/(ui)/page.tsx
  src/components/.gitkeep
  src/components/footer/copyright.tsx
  src/components/footer/index.tsx
  src/components/footer/input-container.tsx
  src/components/footer/list-container.tsx
  src/components/footer/logo-and-socials.tsx
Labels: root

feat: add home page hero ui
  src/app/(ui)/page.tsx
  src/app/(ui)/products/[id]/page.tsx
  src/components/home/hero/index.tsx
  src/components/home/hero/subject.tsx
  src/components/home/hero/visual.tsx
  src/components/home/link-button.tsx
  src/components/shared/dialog.tsx
Labels: none

feat: add home page features section
  src/app/(ui)/page.tsx
  src/components/home/features/feature-list.tsx
  src/components/home/features/index.tsx
  src/components/home/features/intro.tsx
  src/components/home/features/list-item.tsx
Labels: none

feat: add testimonials and cta section
  src/app/(ui)/page.tsx
  src/components/home/cta/index.tsx
  src/components/home/hero/visual.tsx
  src/components/home/link-button.tsx
  src/components/home/testimonials/index.tsx
  src/components/home/testimonials/testimonial-item.tsx
  src/components/home/testimonials/testimonial-list.tsx
Labels: none

fix: fix auth ui and relocate toast container
  src/app/(ui)/layout.tsx
  src/app/(ui)/login/page.tsx
  src/app/(ui)/register/page.tsx
  src/components/toast/index.tsx
Labels: none

feat: set up auth context and update related components
  public/logout.svg
  src/app/(ui)/globals.css
  src/app/(ui)/layout.tsx
  src/components/navbar/index.tsx
  src/components/navbar/mobile-menu.tsx
  src/components/navbar/nav-button.tsx
  src/context/auth-context.tsx
  src/context/index.tsx
Labels: none

feat: add react query and implement for login
  .eslintrc.json
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/(ui)/login/page.tsx
  src/context/index.tsx
  src/lib/http-client.ts
  src/lib/query-client.ts
Labels: root

feat: add react query dev tools
  package-lock.json
  package.json
  src/context/index.tsx
Labels: root

feat: add a basic http client implementation
  src/app/(ui)/products/page.tsx
  src/app/(ui)/products/search-page.tsx
  src/lib/http-client.ts
  src/lib/query-client.ts
  src/services/example.service.ts
Labels: none

feat: improve query fn and http client with pagination
  next.config.js
  src/app/(ui)/products/page.tsx
  src/app/(ui)/products/search-page.tsx
  src/lib/http-client.ts
  src/services/auth.service.ts
  src/services/example.service.ts
Labels: root

feat: add login mutation fn
  src/app/(ui)/login/page.tsx
  src/app/api/(modules)/examples/[id]/route.ts
  src/app/api/(modules)/examples/_schemas/create-example.dto.ts
  src/app/api/(modules)/examples/_schemas/example-id.dto.ts
  src/app/api/(modules)/examples/_schemas/get-examples.dto.ts
  src/app/api/(modules)/examples/_schemas/update-example.dto.ts
  src/app/api/(modules)/examples/route.ts
  src/services/auth.service.ts
  src/services/example.service.ts
Labels: api

feat: add register mutation fn
  src/app/(ui)/login/page.tsx
  src/app/(ui)/register/page.tsx
  src/services/auth.service.ts
Labels: none

feat: add logout mutation fn
  src/context/auth-context.tsx
  src/services/auth.service.ts
Labels: none

feat: add a basic server page
  src/app/(ui)/client-page/[id]/page.tsx
  src/app/(ui)/client-page/page.tsx
  src/app/(ui)/client-page/search-page.tsx
  src/app/(ui)/login/page.tsx
  src/app/(ui)/register/page.tsx
  src/app/(ui)/server-page/[id]/page.tsx
  src/app/(ui)/server-page/page.tsx
  src/app/(ui)/server-page/pagination.tsx
  src/app/(ui)/server-page/search-page.tsx
  src/app/api/(modules)/auth/logout/route.ts
  src/app/api/(modules)/examples/_schemas/get-examples.dto.ts
  src/components/navbar/index.tsx
  src/context/auth-context.tsx
  src/services/auth.service.ts
  src/services/example.service.ts
Labels: api

feat: update login page and integrate react form hook
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/(ui)/login/page.tsx
  src/context/auth-context.tsx
  src/middleware.ts
Labels: root

refactor: create reusable input and button components
  .eslintrc.json
  src/app/(ui)/login/page.tsx
  src/components/shared/button.tsx
  src/components/shared/index.ts
  src/components/shared/input.tsx
Labels: root

feat: update register ui
  src/app/(ui)/register/page.tsx
Labels: none

fix: tanstack query mutate async to mutate to prevent unhandled runtime errors
  src/app/(ui)/login/page.tsx
  src/app/(ui)/register/page.tsx
  src/context/auth-context.tsx
Labels: none

feat: add loading screen for all pages
  src/app/(ui)/client-page/loading.tsx
  src/app/(ui)/login/loading.tsx
  src/app/(ui)/products/loading.tsx
  src/app/(ui)/profile/loading.tsx
  src/app/(ui)/public/page.tsx
  src/app/(ui)/register/loading.tsx
  src/app/(ui)/server-page/loading.tsx
  src/components/shared/page-loader.tsx
Labels: none

fix: move global loader to the root to prevent duplication
  src/app/(ui)/loading.tsx
  src/app/(ui)/login/loading.tsx
  src/app/(ui)/products/loading.tsx
  src/app/(ui)/profile/loading.tsx
  src/app/(ui)/register/loading.tsx
  src/app/(ui)/server-page/loading.tsx
Labels: none

refactor: create an auth segment and add layout to it
  src/app/(ui)/(auth)/layout.tsx
  src/app/(ui)/(auth)/login/page.tsx
  src/app/(ui)/(auth)/register/page.tsx
Labels: none

feat: add support to underline the current page at home
  src/components/navbar/desktop-menu.tsx
  src/components/navbar/mobile-menu.tsx
Labels: none

feat: add scroll to a section with an id
  src/components/home/cta/index.tsx
  src/components/home/features/index.tsx
  src/components/home/hero/index.tsx
  src/components/home/testimonials/index.tsx
  src/components/navbar/index.tsx
Labels: none

feat: add params segment with catch all
  package-lock.json
  package.json
  src/app/(ui)/client-page/[...id]/page.tsx
  src/app/(ui)/client-page/[id]/page.tsx
  src/app/(ui)/client-page/page.tsx
  src/app/(ui)/client-page/search-page.tsx
  src/app/api/(modules)/examples/[id]/route.ts
  src/app/api/_errors/not-found.error.ts
  src/services/example.service.ts
Labels: root, api

docs: add a mock suspense example to show how server streaming works
  src/app/(ui)/products/page.tsx
Labels: none

feat: add error components for client
  src/app/(ui)/error.tsx
  src/app/(ui)/global-error.tsx
  src/app/(ui)/server-page/error.tsx
  src/app/(ui)/server-page/page.tsx
Labels: none

feat: add parallel routing examples
  src/app/(ui)/parallel/@analytics/page.tsx
  src/app/(ui)/parallel/@authenticated/page.tsx
  src/app/(ui)/parallel/@team/default.tsx
  src/app/(ui)/parallel/@team/page.tsx
  src/app/(ui)/parallel/@unauthenticated/page.tsx
  src/app/(ui)/parallel/layout.tsx
  src/app/(ui)/parallel/page.tsx
Labels: none

feat: add openai chat bot
  .vscode/settings.json
  environment.d.ts
  package-lock.json
  package.json
  src/app/(server)/api/chat/route.ts
Labels: root

.github/labeler.yml:

###############################################################################
# COMMON
###############################################################################

# Add 'root' label to any root file changes
root:
  - "*"
  - .github/**
  - .husky/**
  - .vscode/**

# Add 'env' label to any change to '.env.sample' files within the packages
env:
  - .env.sample

# Add 'dependency' label to any change to 'package.lock' file
dependency:
  - package.lock

# Add 'api' label to any change within the 'app/api'
api:
  - src/app/api/_errors/**
  - src/app/api/_middlewares/**
  - src/app/api/_routers/**
  - src/app/api/_types/**
  - src/app/api/_utils/**
  - src/app/api/(modules)/**


# # Add 'i18n' label to any change within the 'messages'
# i18n:
#   - messages/**

# Add 'migration' label to any change within the 'server'
migration:
  - src/app/api/db/**
